<!DOCTYPE html>
<lasso-page package-path="./browser.json"/>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Marko + Lasso</title>

        <!-- CSS includes -->
        <lasso-head/>
    </head>
    <body>
        <!-- Top-level UI component: -->
        <await(items from input.itemsPromise)>
            <shopping-cart({items: items})/>
        </await>

        <!-- JS includes -->
        <lasso-body/>
        <browser-refresh/>
    </body>
</html>
